html
  head
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    script(type="module" src='/javascripts/bookClient.js')
    link(rel='stylesheet', href='/stylesheets/style.css')

body
  include owner-header.pug

  p
  .container
    .row
      .col-sm
        - ed = "th"
        - mod100 = book.edition % 100
        - mod10 = book.edition % 10
        if mod10 == 1 && mod100 != 11
          - ed = "st"
        else if mod10 == 2 && mod100 %100 != 12
          - ed = "nd"
        else if mod10 == 3 && mod100 % 100 != 13
          - ed = "rd"
        - authors = ""
        each author in book.authors
            - authors += author.name + ", "
        - authors = authors.slice(0, -2)
        h3 #{book.title} (#{book.edition}#{ed} edition)
        h4 Written by #{authors}
          
        p ISBN: #{book.isbn}
        
        p Price: $#{book.price}
        p #{book.print_length} pages
        p Published by #{book.publisher} on #{book.publish_date.toISOString().split('T')[0]}
        br

        h4 Order
        form(action='/search/results' method="post")
          .form-group
            label(for='exampleInputEmail1') Quantity
            input#exampleInputEmail1.form-control(name='quantity' aria-describedby='emailHelp' placeholder='Enter quantity')
          button.btn.btn-primary(type='submit') Add to cart

        h4 Remove from database
        button#removeBook.btn.btn-primary Remove
