html
  head
    if search
      title Search Results · Nook
    else
      title Books · Nook
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" type="image/png" href="https://static.vecteezy.com/system/resources/previews/002/268/088/original/man-reading-a-book-and-sitting-on-stack-of-books-illustration-free-vector.jpg")


body
  include ./partials/header.pug

  p
  .container
    .row
      .col-sm
        br
        if session.loggedInType == 'owner'
          h4 Add to Database
          p
          a.link-primary(href='/authors/add') Add an author
          p
          a.link-primary(href='/publishers/add') Add a publisher
          p
          a.link-primary(href='/books/add') Add a book
          br
          br
        if !search
          if session.loggedInType == 'customer'
            //- omit if there are no recommended books
            h4 Recommended Books
            p
            .books
              each book in books
                a.book(href='/books/' + book.isbn)
                  .bookin
                    .cover
                      h2 #{book.title}
                    .flip
                      div
                        h4 #{book.title}
                        p
                        p #{book.description}
                        p
                        p $#{book.price}
          br
          h4 All Books
          p
        else
          h4 Search Results
        if books.length == 0
          p No Results Found
        .books
          each book in books
            a.book(href='/books/' + book.isbn)
              .bookin
                .cover
                  h2 #{book.title}
                .flip
                  div
                    h4 #{book.title}
                    p
                    p #{book.description}
                    p
                    p $#{book.price}
        br
        br
        br


