html
  head
    title Your Cart · Nook
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    script(src='/javascripts/cartClient.js' defer)
    link(rel='stylesheet', href='/stylesheets/style.css')

body

  include ./partials/header.pug

  p
  .container
    .row
      .col-sm
        h4 Cart
        if session.cart && Object.keys(session.cart).length > 0
          table.table
            thead
              tr
                th(scope='col') Book
                th(scope='col') Quantity
                th(scope='col') Unit Price
                th(scope='col') Overall Price
                th(scope='col') Remove from Cart
            tbody#cart
              each book in books 
                tr 
                  td 
                    a(href=`/books/${book.isbn}`) #{book.title}
                  td #{session.cart[book.isbn]}
                  td $#{book.price}
                  td $#{book.price*session.cart[book.isbn]}
                  td 
                    button.remove.btn.btn-outline-danger(id=book.isbn) &times;

          p
            span.font-weight-bold Total cost: 
          br
          h5 Details
          p
          p.font-weight-bold Destination address:
          input#cartDestinationAddress.form-control(name='title' aria-describedby='emailHelp' value='57193 Moore Junction Suite 250 Dawnville, QC R7K 8P1')
          p
          p.font-weight-bold Credit card number:
          input#cartCreditCardNumber.form-control(name='title' aria-describedby='emailHelp' value='4788029235292033')
          p
          p.font-weight-bold Billing address:
          input#cartBillingAddress.form-control(name='title' aria-describedby='emailHelp' value='57193 Moore Junction Suite 250 Dawnville, QC R7K 8P1')
          br
          br

          h5 Place your order
          button.btn.btn-primary(type='submit') Ka-ching!
          br
          br
          br
        else 
          p There are currently no items in your cart! 
            a(href="/search") Search for items