html
  head
    title Your Order · Nook
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    link(rel="icon" type="image/png" href="https://static.vecteezy.com/system/resources/previews/002/268/088/original/man-reading-a-book-and-sitting-on-stack-of-books-illustration-free-vector.jpg")


body
  include ./partials/header.pug

  p
  .container
    .row
      .col-sm
        - cost = 0
        - x = 0
        while x < order.books.length
          - cost += order.quantities[x] * order.prices[x]
          - x++

        h4 Order ID: #{order.id}
        p
        if order.status == "FULFILLED"
          .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Hey there!
            |  If you've finished reading any of the books, please leave ratings by navigating to the bottom of each book's page :) Thank you!
            button.close(type='button' data-dismiss='alert' aria-label='Close')
              span(aria-hidden='true') &times;
          p
        h5 Purchase
        - index = 0
        while index < order.books.length
          a.link-primary(href='/books/' + order.isbn[index]) #{order.quantities[index]} of #{order.books[index]}
          p
          - index++
        hr
        h5 Details
        p
        p.card-text
          span.font-weight-bold Order date:
          span &#32;
          | #{order.order_date.toLocaleDateString('en-US',{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour:'numeric', minute:'numeric', second:'numeric' })}
        p
        p.card-text
          span.font-weight-bold Total cost:
          span &#32;
          | $#{cost.toFixed(2)}
        p
        hr
        h5 Shipping
        p
        p.card-text
          span.font-weight-bold Tracking Number:
          span &#32;
          | #{order.tracking_no}
        p
        p.card-text
          span.font-weight-bold Shipment Date:
          span &#32;
          | #{order.shipment_date.toLocaleDateString('en-US',{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}
        p
        p.card-text
          span.font-weight-bold Destination address:
          span &#32;
          | #{order.destination}
        p
        p.card-text
          span.font-weight-bold Status:
          span &#32;
          | #{order.status}
        p
        if order.status == "FULFILLED"
          p.card-text
            span.font-weight-bold Arrival Date:
            span &#32;
            | #{order.arrival_date.toLocaleDateString('en-US',{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}
          p
          div 
            h2
              span.fas.fa-store
              | =============
              span.fas.fa-car-side
              span.fas.fa-house-user
        if order.status != "FULFILLED"
          p.card-text
            span.font-weight-bold Estimated Arrival:
            span &#32;
            | #{order.estimated_arrival.toLocaleDateString('en-US',{ weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })}
          p
          p.card-text
            span.font-weight-bold Current Address:
            span &#32;
            |#{order.current_address}
          p
          if order.status == "INPROGRESS"
            div 
              h2
                span.fas.fa-store
                | =======
                span.fas.fa-car-side
                | ======
                span.fas.fa-house-user
          else if order.status == "RECEIVED"
            div 
              h2
                span.fas.fa-store
                span.fas.fa-car-side
                | =============
                span.fas.fa-house-user
          else 
            div 
              h2
                span.fas.fa-store
                | =============
                span.fas.fa-house-user
            
            
        p
        hr
        h5 Billing
        p
        p.card-text
          span.font-weight-bold Credit card number:
          span &#32;
          | #{order.credit_card}
        p
        p.card-text
          span.font-weight-bold Billing address:
          span &#32;
          | #{order.billing_address}
        br
        br
        br